<p id="notice"><%= notice %></p>

<h1>Sub Category Neighborhoods</h1>

<table>
  <thead>
    <tr>
      <th>Sub category</th>
      <th>Neighborhood</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_category_neighborhoods.each do |sub_category_neighborhood| %>
      <tr>
        <td><%= sub_category_neighborhood.sub_category_id %></td>
        <td><%= sub_category_neighborhood.neighborhood_id %></td>
        <td><%= sub_category_neighborhood.price %></td>
        <td><%= link_to 'Show', sub_category_neighborhood %></td>
        <td><%= link_to 'Edit', edit_sub_category_neighborhood_path(sub_category_neighborhood) %></td>
        <td><%= link_to 'Destroy', sub_category_neighborhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Category Neighborhood', new_sub_category_neighborhood_path %>
