<%= form_with(model: neighborhood, local: true) do |form| %>
  <% if neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
        <% neighborhood.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="field">
    <%= form.label :isActive %>
    <%= form.check_box :isActive %>
  </div>

  <div class="field">
    <%= form.label :isDelivery %>
    <%= form.check_box :isDelivery %>
  </div>

  <div class="field">
    <%= form.label :City_id %>
    <%= form.text_field :City_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
