<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @product.sub_title %>
</p>

<p>
  <strong>Price before:</strong>
  <%= @product.price_before %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.sub_category_id %>
</p>

<p>
  <strong>User info:</strong>
  <%= @product.user_info_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
